body {
    background-color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Arial';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 10px;
}

.avatar {
   border-radius: 100%;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    max-width: 360px;
    padding: 25px;
    border-radius: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 360px;
    margin-top: 16px;
    width: 100%;
}

.social img {
    width: 20px;
    height: 20px;
}

.btn-social {
    min-width: 1000;
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: transform 0.2s, opacity 0.2s;
}

.instagram {
    background-color: #E1306C;
}

.github {
    background-color: #24292e;
}

.linkedin {
    background-color: #0A66C2; 
}

.btn-social:hover {
  transform: scale(1.03);
  opacity: 0.9;
}